<%= form_for @show, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :start, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :end, :class => 'date_select' %>
    </div>
  </div>

<div class="control-group">
	<%= f.label :gallery_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :gallery_id, options_from_collection_for_select(@galleries, 'id', 'name')  %>
	</div>
</div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                shows_path, :class => 'btn' %>
  </div>
<% end %>
