<%- model_class = @show.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @show.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:start) %>:</strong><br>
  <%= @show.start %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:end) %>:</strong><br>
  <%= @show.end %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:gallery_id) %>:</strong><br>
  <%= @gallery.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:show_id) %>:</strong><br>
  <%= @show.id %>
</p>
<div class="span8">
    <%= render 'follow_form' if signed_in? %>    
</div>


<% if signed_in? %>

<div class="attendance-actions">
	<p>Link to say 'I have been to this show</p>
</div>
<% end %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              shows_path, :class => 'btn'  %>
<% if signed_in? && current_user.name == "Mark Simpkins" %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_show_path(@show), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              show_path(@show),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
<% end %>
</div>

